@font-face{
    src: url(./fonts/Poppins-Black.ttf);
    font-family: Poppins-Black;
}
@font-face{
    src: url(./fonts/Roboto-Black.ttf);
    font-family: Roboto-Black;
}
*{
    margin: 0;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto',sans-serif;
}


body{
    background-color: darkviolet;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 800px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}

h3{
    font-size: 3rem;
    color: black#;
    margin-top: 8px;
}
p{
    font-size: 1.3rem;
    color: black#;
    margin-top: 8px;
}